<div class="w-100 p-5">
	<div class="mb-4 w-100">
		<b>¡Mandanos un mail!</b><br>
		Queremos saber de ti.
	</div>
	<form name="contact" class="w-100" method="POST" data-netlify="true">
		<div class="form-group d-flex flex-column flex-wrap justify-content-between">
			<input type="hidden" class="justify-content-center" name="form-name" value="contact">
			<p class="w-100">
				<label class="d-flex flex-inline justify-content-between">Tu nombre:<br> <input type="text" name="name"></label>
			</p>
			<p class="w-100">
				<label class="d-flex flex-inline justify-content-between">Tu correo electrónico:<br> <input type="email"
						class="w-100" name="email"></label>
			</p>
			<p class="w-100">
				<label class="w-100">Mensaje:<br> <textarea class="w-100" name="message"></textarea></label>
			</p>
			<p class="text-center">
				<button type="submit" class="btn btn-primary text-light px-4 my-1">Enviar</button>
			</p>
		</div>
	</form>
	<div>
		<p>
			También puedes mandarnos un correo a <a
				href="mailto:negociosrentablesdigitales@gmail.com">negociosrentablesdigitales@gmil.com</a>
		</p>
		<p>
			O un whatsapp dando click <a href="https://wa.link/huoqgf">aquí</a>
		</p>
	</div>
</div>