<footer class="shared footer bg-blue-light py-5">
	<div class="container">
		<div class="row pb-5">
			<div class="col-12 col-xl-4 text-center text-xl-start pb-4">
				<h4 class="fs-4 fw-semibold text-uppercase text-primary">{{ .Site.Title }}</h4>
				<p class="small text-black-61">{{ .Site.Params.description }}</p>
				{{ with .Site.Params.social }}
				<ul class="d-flex justify-content-center justify-content-xl-start list-unstyled">
					{{ with .dribbble }}<li class="rounded-circle bg-blue-63 me-2 p-2"><a
							class="d-flex align-items-center justify-content-center size-16" href="{{ . }}">{{ partial
							"icons/dribbble.html" }}</a></li>{{ end }}
					{{ with .instagram }}<li class="rounded-circle bg-blue-63 me-2 p-2"><a
							class="d-flex align-items-center justify-content-center size-16" href="{{ . }}">{{ partial
							"icons/instagram.html" }}</a></li>{{ end }}
					{{ with .facebook }}<li class="rounded-circle bg-blue-63 me-2 p-2"><a
							class="d-flex align-items-center justify-content-center size-16" href="{{ . }}">{{ partial
							"icons/facebook.html" }}</a></li>{{ end }}
					{{ with .twitter }}<li class="rounded-circle bg-blue-63 me-2 p-2"><a
							class="d-flex align-items-center justify-content-center size-16" href="{{ . }}">{{ partial
							"icons/twitter.html" }}</a></li>{{ end }}
				</ul>
				{{ end }}
			</div>
			<div class="col-12 col-xl-2 text-center text-xl-start pb-4">
				<h5 class="fs-6 fw-semibold text-primary">Consulta:</h5>
				<ul class="list-unstyled">
					{{ range .Site.Menus.footer }}
					<li class="">
						<a class="small text-black-61 text-decoration-none" href="{{ .URL }}">{{ .Name }}</a>
					</li>
					{{ end }}
				</ul>
			</div>
			<div class="col-12 col-xl-3 text-center text-xl-start pb-4">
				<h5 class="fs-6 fw-semibold text-primary">Desde donde te ayudamos</h5>
				<ul class="list-unstyled">
					{{ range .Site.Params.location }}
					<li class="d-flex justify-content-center justify-content-xl-start mb-2">
						<div class="d-flex align-items-center text-primary">{{ partial "icons/geo-alt.html" }}</div>
						<p class="small text-black-61 m-0 ps-2">{{ . }}</p>
					</li>
					{{ end }}
				</ul>
			</div>
			<div class="col-12 col-xl-3 text-center text-xl-start pb-4">
				<h5 class="fs-6 fw-semibold text-primary">Mandanos un mensaje</h5>
				{{ range .Site.Params.contact }}
				<p class="small text-black-61 mb-1">{{ . }}</p>
				{{ end }}
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				{{ with .Site.Params.copyright }}
				<p class="small text-black-61 text-center">{{ . }}</p>
				{{ end }}
			</div>
		</div>
	</div>
	<!-- Cookie Consent by FreePrivacyPolicy.com https://www.FreePrivacyPolicy.com -->
<script type="text/javascript" src="//www.freeprivacypolicy.com/public/cookie-consent/4.1.0/cookie-consent.js"
charset="UTF-8"></script>
<script type="text/javascript" charset="UTF-8">
document.addEventListener('DOMContentLoaded', function () {
	cookieconsent.run({ "notice_banner_type": "headline", "consent_type": "express", "palette": "dark", "language": "es", "page_load_consent_levels": ["strictly-necessary"], "notice_banner_reject_button_hide": false, "preferences_center_close_button_hide": false, "page_refresh_confirmation_buttons": false, "website_privacy_policy_url": "https://rycko.online/politicas-de-privacidad" });
});
</script>
<!-- End Cookie Consent by FreePrivacyPolicy.com https://www.FreePrivacyPolicy.com -->
</footer>



<!-- Below is the link that users can use to open Preferences Center to change their preferences. Do not modify the ID parameter. Place it where appropriate, style it as needed. -->

<a href="#" id="open_preferences_center">Update cookies preferences</a>